@import './constants.css';

/* :root {
  --colour-primary: #EDAFB8;
  --colour-primary-light: #efcbd0;
  --colour-secondary: #B0C4B1;
  --colour-secondary-light: #DEDBD2;
  --colour-secondary-lighter: #dbd8cf;
  --colour-accent: #B0C4B1;
  --colour-headings: #4A5759;
  --colour-background: #283132;
} */

.navigation-bar {
  background-color: var(--colour-background);
}

.options-bar {
  background-color: var(--colour-secondary);
  height: 15%;
}

.live-cell {
  /* background-color: var(--colour-primary); */
  /* background-color: linear-gradient(direction, var(--colour-primary), var(--colour-primary-light)); */
  background-image: radial-gradient(var(--colour-primary-light), var(--colour-primary));
  /* background: radial-gradient(shape size at position, start-color, ..., last-color); */
  /* linear-gradient(direction, color-stop1, color-stop2, ...); */
}

.dead-cell {
  /* background-color: var(--colour-secondary-light); */
  background-image: radial-gradient(var(--colour-secondary-lighter), var(--colour-secondary-light));

}