@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  /* color: var(--colour-headings); */
  font-family: 'Inter', sans-serif;
}

.navigation-bar {
  background-color: var(--colour-nav);
  /* min-height: 80px; */
}

.options-bar {
  background-color: var(--colour-accent);
  height: 15%;
}

.board {
  background-color: var(--colour-primary-light);
  border-color: var(--colour-background);
}

.board-border {
  background-color: var(--colour-background);
  /* padding: 5px; */
}

.live-cell {
  
  /* background-color: var(--colour-primary); */
  /* background-color: linear-gradient(direction, var(--colour-primary), var(--colour-primary-light)); */
  background-image: radial-gradient(var(--colour-primary-light), var(--colour-primary));
  /* background: radial-gradient(shape size at position, start-color, ..., last-color); */
  /* linear-gradient(direction, color-stop1, color-stop2, ...); */
}

.dead-cell {
  /* background-color: var(--colour-secondary-light); */
  /* background-image: radial-gradient(var(--colour-secondary-lighter), var(--colour-secondary-light)); */
  background-image: radial-gradient(var(--colour-secondary-light), var(--colour-secondary));

}