@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  /* color: var(--colour-headings); */
  font-family: 'Inter', sans-serif;
  background-color: var(--colour-background);
}

.navigation-bar {
  background-color: var(--colour-nav);
}

.options-bar {
  background-color: var(--colour-accent);
  height: 15%;
}

.btn {
  color: var(--colour-headings);
}

.board {
  /* height: 100%; */
  /* width: 100%; */
  display: inline-block;
  overflow: auto;
  /* position: relative; */
  background-color: var(--colour-primary-light);
  border-color: var(--colour-background);
  margin: 10px;
  padding: 3px;
}

.board-container {
  background-color: var(--colour-background);
  height: 100%;
  /* width: 100%; */
  /* padding: 5px; */
}

.live-cell {

  /* background-color: var(--colour-primary); */
  /* background-color: linear-gradient(direction, var(--colour-primary), var(--colour-primary-light)); */
  background-image: radial-gradient(var(--colour-primary-light), var(--colour-primary));
  /* background: radial-gradient(shape size at position, start-color, ..., last-color); */
  /* linear-gradient(direction, color-stop1, color-stop2, ...); */
}

.dead-cell {
  /* background-color: var(--colour-secondary-light); */
  /* background-image: radial-gradient(var(--colour-secondary-lighter), var(--colour-secondary-light)); */
  background-image: radial-gradient(var(--colour-secondary-light), var(--colour-secondary));

}